<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
{{#if animation}}
[animation_css]
{{/if}}
{{#if webfont}}
<!--[if !mso]><!-- -->
<link rel="stylesheet" href="styles/{{ webfont }}.css" data-embed>
<!--<![endif]-->
{{/if}}
{{#if googlefont_href}}
<!--[if !mso]><!-- -->
[google_font_open]{{ googlefont_href }}[google_font_close]
<!--<![endif]-->
{{/if}}
{{#if styles}}
<link href="styles/{{ styles }}.css" media="all" rel="stylesheet" type="text/css" />
{{else}}
<link href="styles/main.css" media="all" rel="stylesheet" type="text/css" />
{{/if}}
<!--[if gte mso 9]><xml>
<o:OfficeDocumentSettings>
<o:AllowPNG/>
<o:PixelsPerInch>96</o:PixelsPerInch>
</o:OfficeDocumentSettings>
</xml>
<style>
  sup { font-size: 100% !important; }
</style>
<![endif]-->
<!--[if gte mso 12]>
<style>
ul {
  display: block;
	margin: 0 0 0 24px;
	padding: 0;
	list-style-position: inside;
}
</style>
<![endif]-->
<!--[if mso]>
<style type="text/css">
body, table, td, span, div, p {font-family: Arial, Helvetica, sans-serif !important;}
</style>
<![endif]-->
</head>

<body>
<div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
  {{ preview }}
</div>
<table class="body">
	<tr>
		<td class="outer"></td>
		<td class="container">
			[mso_open]<table class="inner-container"><tr><td>[mso_close]
			<div class="content">{% body %}</div>
	    [mso_open]</td></tr></table>[mso_close]
		</td>
		<td class="outer"></td>
	</tr>
</table>

</body>
</html>
