<div style="display:inline-block; text-align: left;">[mso_open]
  <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ link }}" style="height:155px;v-text-anchor:middle;width:155px;" stroke="f" fill="t">
    <v:fill type="tile" src="images/button.png" color="#ffffff" />
    <w:anchorlock/>
    <center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">{{text}}</center>
  </v:rect>
[mso_close]<a href="{{ link }}" class="flame"
style="background-color:#ffffff;background-image:url(images/button.png);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:15px;font-weight:bold;line-height:155px;text-align:center;text-decoration:none;width:155px;-webkit-text-size-adjust:none;mso-hide:all;"><span class="flame" style="font-size:15px;line-height:18px">{{text}}{{{html}}}</span></a></div>
